:host {
  display: flex;
  justify-content: center;
  cursor: pointer;

  padding: 1rem 2rem;
  margin: 1em;

  letter-spacing: 0.3ch;
  background: #ffffff;

  &::before {
    // content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  text-decoration: none;
  // padding: 15px;

  .to-left {
    flex: 1;

    h4 {
      color: #0f3057;
    }
    p {
      color: rgba(0, 0, 0, 0.54);
    }
    // padding-right: 5px;
  }

  .to-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    // padding-left: 5px;
  }
}
.lighted {
  color: red;
}
