<ngb-tabset type="pills" class="pills-success">
  <ngb-tab title="{{ affirmation.name }}">
    <ng-template ngbTabContent>
      <div class="media">
        <button
          type="button"
          class="btn btn-inverse-info btn-icon"
          (click)="checkUncheck()"
        >
          <i
            class="mdi"
            [ngClass]="[
              checked ? 'mdi-check-circle' : 'mdi-checkbox-blank-circle-outline'
            ]"
          ></i>
        </button>
        <img
          class="mr-3 w-25 rounded"
          [src]="affirmation.imagePath"
          alt="sample image"
        />
        <div class="media-body">
          <p [ngClass]="{ lighted: checked }">
            {{ affirmation.description }}
          </p>
        </div>
      </div>
    </ng-template></ngb-tab
  ></ngb-tabset
>

<!-- <div class="container">
  <!-- <div class="card" style="margin: 20px">
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="enterName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              id="enterName"
              name="enterName"
              class="form-control"
              placeholder="Type Name"
              [(ngModel)]="affService.nameValue"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="enterPlace" class="col-sm-2 col-form-label">Place</label>
          <div class="col-sm-10">
            <input
              id="enterPlace"
              name="enterPlace"
              class="form-control"
              placeholder="Type Place"
              [(ngModel)]="affService.placeValue"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button
              type="submit"
              class="btn btn-primary float-right"
              (click)="affService.createDoc()"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div> -->

<!-- <div class="text-center">
    <button
      class="btn btn btn-info btn-sm float-left"
      (click)="affService.prevPage()"
      [disabled]="
        affService.disable_prev || !(affService.pagination_clicked_count > 0)
      "
    >
      Previous
    </button>
    <b>Page no: {{ affService.pagination_clicked_count + 1 }}</b>
    <button
      class="btn btn btn-info btn-sm float-right"
      (click)="affService.nextPage()"
      [disabled]="affService.disable_next"
    >
      Next
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Place</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of affService.tableData">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ affService.readableDate(item.timestamp) }}</td>
      </tr>
    </tbody>
  </table> -->
