<!-- <a class="list-container"> -->
<!-- <div class="to-left">
  <h4 class="item-name">{{ affirmation.name }}</h4>
  <p class="item-desc">{{ affirmation.description }}</p>
</div>
<span class="to-right">
  <img
    style="cursor: pointer"
    [src]="affirmation.imagePath"
    alt="{{ affirmation.name }}"
    style="max-height: 50px"
  />
</span> -->
<!-- </a> -->
<!-- <div *ngFor="let user of user$ | async">{{ user }}</div> -->
<ngb-tabset type="pills" class="pills-success">
  <ngb-tab title="{{ affirmation.name }}">
    <ng-template ngbTabContent>
      <div class="media">
        <button
          type="button"
          class="btn btn-inverse-info btn-icon"
          (click)="checkUncheck()"
        >
          <i
            class="mdi"
            [ngClass]="[
              checked ? 'mdi-check-circle' : 'mdi-checkbox-blank-circle-outline'
            ]"
          ></i>
        </button>
        <img
          class="mr-3 w-25 rounded"
          [src]="affirmation.imagePath"
          alt="sample image"
        />
        <div class="media-body">
          <p [ngClass]="{ lighted: checked }">
            {{ affirmation.description }}
          </p>
          <p>{{ affirmation.checked }}</p>
          <p>{{ affirmation.id }}</p>
        </div>
      </div>
    </ng-template></ngb-tab
  ></ngb-tabset
>
