.responsive {
  width: 100%;
  height: auto;
}
ezo-landing-page
{
  background-color: #D0E8F2;
}

.background
{
  background-color: #D0E8F2;
}

.logo
{
  width: 40px;
  height: auto;
}

.navbar {
  background-color: #D0E8F2;
}

.navbarlinks {
  display: flex;
  justify-content: flex-end;
  color: hsl(217, 43%, 72%);
}

.navbaritem {
  margin: 10px;
}

.presentation {
  background-color: #D0E8F2;
  display: flex;
  flex-direction: column;
  align-items: center;

 
}

.presentation img:first-of-type {
  // padding-bottom: 10px;
  height: 100%;
  width: 100%;
  bottom: 20px;
  max-height: 600px;
}
.top-text
{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-text img:first-of-type
{
  height: 200px;
  width: auto;
  padding-top: 10px;
}


.advantages {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #D0E8F2;
  /* margin-left: 10em;
  margin-right: 10em; */
  justify-items: center;
}

.advantage {
  text-align: center;
  max-width: 400px;
}

.advantage p {
  /* text-align: center; */
  /* padding-left: 5em;
  padding-right: 5em; */
  word-wrap: break-word;
}

.advantage img {
  width: auto;
  height: 90px;
  padding-top: 20px;
}

.presentationfinish {
  background-color: #D0E8F2;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  justify-items: center;
  margin: 10em 3em 10em 3em;
  padding-left: 5%;
  padding-left: 5%;
}

.presentationfinish img {
  max-width: 200px;
  grid-area: 1 / 1 / 1 / 2;
}

.presentationfinish div {
  grid-area: 1 / 2 / 1 / 2;
  align-self: center;
  justify-self: center;
}

.presentation {
  text-align: center;
}

.presentation button {
  width: 250px;
}

.quotes-section {
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-content: center;
  margin: 1em;
  gap: 1em;
  color: white;
}

.quote {
  background-color: #fae396;
  max-width: 310px;
  padding: 1em;
  border-radius: 5px;
}

.quote div:first-of-type {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  /* margin-left: 3em;
  margin-right: 3em; */
}

.small {
  width: 35px;
  height: auto;
}

.quote-img {
  grid-area: 1 / 1 / 1 / 2;
  justify-self: end;
  align-self: center;
}

.quote img {
  border-radius: 50%;
}

.quote-content {
  grid-area: 1 / 2 / 2 / 2;
  font-size: 0.5em;
  line-height: 0.5;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  align-self: stretch;
  justify-content: start;
  /* align-self: center;
  justify-self: center; */
}

.sign-up-background {
  color: linear-gradient(#D0E8F2, #8cafbe);
  display: flex;
  justify-content: center;
  background: linear-gradient(#D0E8F2,#8cafbe);
}

.sign-up-background div {
  /* max-width: 700px; */
  background-color: #fae396;
  padding: 50px 8rem;
  border-radius: 15px;
}

.sign-up-background span {
  text-align: center;
}

.sign-up-background input {
  padding-left: 20px;
  border-radius: 20px;
  width: 600px;
  border: none;
  height: 50px;
}


.getstarted button {
  border-radius: 40px;
  color: white;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border: none;
}

form button{
  justify-items:  center;
  border-radius: 40px;
  color: white;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 50%;
  margin-left: 25px;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border: none;
}
.navbarlinks button{
  border-radius: 0px;
  color: #8cafbe;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  border: 2px solid #8cafbe;
  background-color: transparent;

}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 10em;
  background-color: #8cafbe;
}



.footer div {
  max-width: 200px;
  padding-bottom: 10px;
}

/*
.quote-content h6 {
  font-size: 6px;
} */

/*
.presentationfinish p {
  grid-area: 2 / 2 / 2 / 2;
} */

/* h3 {
  display: grid;
  justify-self: center;
} */

/* .navbarlinks {
  display: flex;
  color: red;
  justify-content: flex-start; */
/* justify-content: space-around; */
/* align-content: space-around; */

/* margin: 10px; */

/* } */

.navbarimg {
  align-self: flex-start;
}
