<!-- <p>affirmations works!</p>
<div class="row">
  <div class="col-md-5">
    <ezo-affirmation-list></ezo-affirmation-list>
  </div>
  <div class="col-md-7">
    <ezo-affirmation-detail></ezo-affirmation-detail>
  </div>
</div> -->
<div class="container">
  <ezo-affirmation-list></ezo-affirmation-list>
  <ezo-affirmation-detail></ezo-affirmation-detail>
</div>
<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <ezo-affirmation-list></ezo-affirmation-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <ezo-affirmation-detail></ezo-affirmation-detail>
  </mat-grid-tile>
</mat-grid-list> -->
