.container {
  display: flex;
  justify-content: center;
  padding: 15px;

  ezo-affirmation-list {
    flex: 1;
    padding-right: 5px;
  }

  ezo-affirmation-detail {
    flex: 1;
    padding-left: 5px;
  }
}
