<mat-tab-group class="no-line">
  <mat-tab class="no-line">
    <!-- #docregion label-directive -->
    <ng-template mat-tab-label class="no-line"> Affirmations </ng-template>
    <!-- #enddocregion label-directive -->
    <ezo-affirmations></ezo-affirmations>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Goals </ng-template>
    goals comp
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Statistics </ng-template>

    stats comp
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Calendar </ng-template>

    calendar comp
  </mat-tab>
</mat-tab-group>
