<div class="container-scroller">
  <ezo-navbar *ngIf="showNavbar"></ezo-navbar>
  <div class="container-fluid page-body-wrapper">
    <ezo-sidebar *ngIf="showSidebar"></ezo-sidebar>
    <div class="main-panel" [ngClass]="{ 'main-panel-only': !showSidebar }">
      <div class="content-wrapper coloring">
        <ezo-spinner *ngIf="isLoading"></ezo-spinner>
        <div class="background" contentAnimate *ngIf="!isLoading" class="h-100">
          <router-outlet></router-outlet>
        </div>
      </div>
      <ezo-footer *ngIf="showFooter"></ezo-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
