<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a
        *ngIf="auth.user$ | async as user"
        routerLink="/profile"
        class="nav-link"
      >
        <div class="nav-profile-image">
          <img [src]="user.photoURL" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2"
            >{{ user.displayName }}
            <i
              class="mdi mdi-bookmark-check text-success nav-profile-badge"
            ></i>
          </span>

          <span class="text-secondary text-small">{{ user.email }}</span>
        </div>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ active: dashboard.isActive }">
      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive
        #dashboard="routerLinkActive"
      >
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li
      class="nav-item"
      [ngClass]="{
        active: organize.isActive || relaxing.isActive || motivation.isActive
      }"
    >
      <a
        class="nav-link"
        (click)="uiBasicCollapsed = !uiBasicCollapsed"
        [attr.aria-expanded]="uiBasicCollapsed"
        aria-controls="ui-basic"
      >
        <span class="menu-title">Ezo Toolkit</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="toolkit/organizer"
              routerLinkActive
              routerLinkActive="active"
              #organize="routerLinkActive"
              >Organize Yourself</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="toolkit/relaxing-space"
              routerLinkActive
              routerLinkActive="active"
              #relaxing="routerLinkActive"
              >Relaxing Space</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="toolkit/motivation-corner"
              routerLinkActive="active"
              #motivation="routerLinkActive"
              >Motivation Corner</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ active: transerfing.isActive }">
      <a
        class="nav-link"
        routerLink="transerfing"
        routerLinkActive
        #transerfing="routerLinkActive"
      >
        <span class="menu-title">Transerfing</span>
        <i class="mdi mdi-emoticon-cool menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ active: lawofattraction.isActive }">
      <a
        class="nav-link"
        routerLink="law-of-attraction"
        routerLinkActive
        #lawofattraction="routerLinkActive"
      >
        <span class="menu-title">Law of Attraction</span>
        <i class="mdi mdi-emoticon menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ active: settings.isActive }">
      <a
        class="nav-link"
        routerLink="profile"
        routerLinkActive
        #settings="routerLinkActive"
      >
        <span class="menu-title">Settings</span>
        <i class="mdi mdi-wrench menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
