/* You can add global styles to this file, and also import other style files */
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sketchy/bootswatch';

@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Neucha, Helvetica Neue, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);
