<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ affirmation.name }}</mat-card-title>
    <mat-card-subtitle>{{ affirmation.type }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="affirmation.imagePath"
    alt="{{ affirmation.name }}"
  />
  <mat-card-content>
    <p>{{ affirmation.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-inverse-success btn-rounded btn-fw">
      Edit Affirmation
    </button>
    <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw">
      Delete Affirmation
    </button>
  </mat-card-actions>
</mat-card>
