<div class="container" *ngIf="auth.user$ | async as user">
  <div class="photo-container">
    <img [src]="user.photoURL" />
    <p class="with-padding" (click)="onProfilePicChange($event)">
      Change your profile picture
    </p>
    <input *ngIf="allowPicToChange === true" [(ngModel)]="user.photoURL" />
  </div>

  <div class="form-container">
    <h2>Account Settings</h2>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="user.displayName"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="user.email"
        name="email"
      />
    </div>
    <p>
      Last login: {{ user.createdAt.toDate() | date: 'dd LLLL yyyy hh:mm a' }}
    </p>
    <button (click)="auth.SetUserData(user)">Save Changes</button>
  </div>
</div>
<!-- -->

<!-- <div class="form-group">
  <label for="alterEgo">Alter Ego</label>
  <input
    type="text"
    class="form-control"
    id="alterEgo"
    [(ngModel)]="model.alterEgo"
    name="alterEgo"
  />
</div>

<div class="form-group">
  <label for="power">Hero Power</label>
  <select
    class="form-control"
    id="power"
    required
    [(ngModel)]="model.power"
    name="power"
  >
    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
  </select>
</div>
<div *ngIf="auth.user$ | async; then authenticated; else guest">
  <!-- template will replace this div -->
<!-- </div> -->

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL" />
    <p>UID: {{ user.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
