// table {
//   width: 100%;
// }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 25%;
// }
.lighted {
  background-color: darken(#fff, 5%);
}

.delete-section {
  padding-top: 15px;
}
