<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Your Affirmations</h4>
      <p class="card-description">
        Play with them or choose other from crafted list, by clicking the
        lightbulb icon.
      </p>
      <button
        type="button"
        class="btn btn-inverse-success btn-rounded btn-icon"
        (click)="openModal('add-affirmation-modal')"
      >
        <i class="mdi mdi-plus-circle"></i>
      </button>
      <button
        type="button"
        class="btn btn-inverse-warning btn-rounded btn-icon"
        (click)="lightOnOff()"
      >
        <i
          class="mdi"
          [ngClass]="[
            isLightBulbed ? 'mdi-lightbulb' : 'mdi-lightbulb-outline'
          ]"
        ></i>
      </button>

      <div *ngIf="!isLightBulbed; else crafted">
        <pagination-controls
          (pageChange)="p = $event"
          id="first"
        ></pagination-controls>
        <button
          type="button"
          class="btn btn-inverse-info btn-icon"
          (click)="checkUncheckAll(!isAllChecked, affirmations)"
        >
          <i
            class="mdi"
            [ngClass]="[
              isAllChecked && isButtonEnabled
                ? 'mdi-check-circle'
                : 'mdi-checkbox-blank-circle-outline'
            ]"
          ></i>
        </button>
        <button
          type="button"
          class="btn btn-inverse-danger btn-rounded btn-icon"
          [disabled]="!isButtonEnabled"
          (click)="openModal('delete-affirmations-modal')"
        >
          <i class="mdi mdi-delete"></i>
        </button>
        <ezo-affirmation-item
          *ngFor="
            let affirmationEl of affirmations$
              | async
              | paginate: { itemsPerPage: 5, currentPage: p, id: 'first' }
          "
          [affirmation]="affirmationEl"
          [checked]="isChecked(affirmationEl.id, affirmations)"
          (affirmationSelected)="onAffirmationSelected(affirmationEl)"
          (affirmationChecked)="
            onAffirmationChecked(affirmationEl.id, $event, affirmations)
          "
        ></ezo-affirmation-item>
      </div>
    </div>
  </div>
</div>

<ng-template #crafted>
  <pagination-controls
    (pageChange)="p2 = $event"
    id="second"
  ></pagination-controls>
  <button
    type="button"
    class="btn btn-inverse-info btn-icon"
    (click)="checkUncheckAll(!isAllChecked, generalAffirmations)"
  >
    <i
      class="mdi"
      [ngClass]="[
        isAllChecked && isButtonEnabled
          ? 'mdi-check-circle'
          : 'mdi-checkbox-blank-circle-outline'
      ]"
    ></i>
  </button>
  <button
    type="button"
    class="btn btn-inverse-primary btn-rounded btn-icon"
    [disabled]="!isButtonEnabled"
    (click)="openModal('copy-affirmations-modal')"
  >
    <i class="mdi mdi-content-duplicate"></i>
  </button>
  <ezo-affirmation-item
    *ngFor="
      let affirmationEl of generalAffirmations$
        | async
        | paginate: { itemsPerPage: 5, currentPage: p2, id: 'second' }
    "
    [affirmation]="affirmationEl"
    [checked]="isChecked(affirmationEl.id, generalAffirmations)"
    (affirmationSelected)="onAffirmationSelected(affirmationEl)"
    (affirmationChecked)="
      onAffirmationChecked(affirmationEl.id, $event, generalAffirmations)
    "
  ></ezo-affirmation-item>
</ng-template>

<ezo-modal id="delete-affirmations-modal">
  <h2>Warning!</h2>

  <p>Are you sure you want to delete affirmation(s)?</p>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteDocByID()"
      (click)="
        openSnackBar(
          'Deleted ' + numberOfChoosedAffirmations + ' affirmation(s)',
          'Dismiss'
        )
      "
      (click)="closeModal('delete-affirmations-modal')"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="closeModal('delete-affirmations-modal')"
    >
      Cancel
    </button>
  </div>
</ezo-modal>
<ezo-modal id="copy-affirmations-modal">
  <h2>Confirm!</h2>

  <p>Are you sure you want copy crafted affirmation(s) to your own list?</p>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="copyDocByID()"
      (click)="
        openSnackBar(
          'Copied ' + numberOfChoosedAffirmations + ' affirmation(s)',
          'Dismiss'
        )
      "
      (click)="closeModal('copy-affirmations-modal')"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="closeModal('copy-affirmations-modal')"
    >
      Cancel
    </button>
  </div>
</ezo-modal>

<ezo-modal id="add-affirmation-modal">
  <h2>Add Your Affirmation!</h2>
  <form [formGroup]="affirmationForm" (ngSubmit)="onSubmitAffirmation()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let o of types" [value]="o?.type">{{
          o?.type
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Link to the image</mat-label>
      <input matInput formControlName="imagePath" />
    </mat-form-field>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-success"
        (click)="closeModal('add-affirmation-modal')"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-light"
        (click)="closeModal('add-affirmation-modal')"
      >
        Cancel
      </button>
    </div>
  </form>
</ezo-modal>
<p *ngFor="let type of types">{{ type.type }}</p>
